@import "tailwindcss";

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 84% 4.9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}

body {
  /* @apply bg-gradient-to-br from-orange-50 via-red-50 to-yellow-50 text-gray-900; */
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
      circle at 20% 80%,
      rgba(255, 165, 0, 0.1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(255, 69, 0, 0.1) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 40% 40%,
      rgba(255, 215, 0, 0.05) 0%,
      transparent 50%
    );
}

.bharatnatyam-pattern {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255, 165, 0, 0.03) 10px,
    rgba(255, 165, 0, 0.03) 20px
  );
}

.mandala-bg {
  
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff6b35' fill-opacity='0.05'%3E%3Cpath d='M40 10c5 10 15 10 20 0-2 10-2 20 0 30-5-5-15-5-20 0-5-5-15-5-20 0 2-10 2-20 0-30 5 10 15 10 20 0z'/%3E%3C/g%3E%3C/svg%3E"),
  linear-gradient(to bottom right, #fff7ed, #fef2f2, #fef9c3);
  background-size: 80px 80px, cover;
  
  
  color: #1f2937;
  background-repeat: repeat, no-repeat;
}

.dance-ornament {
  background: linear-gradient(135deg, #ff6b35, #f7931e, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.traditional-border {
  border-image: linear-gradient(45deg, #ff6b35, #f7931e, #ffd700, #ff6b35) 1;
}

.floating-animation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.pulse-glow {
  animation: pulseGlow 2s ease-in-out infinite alternate;
}

@keyframes pulseGlow {
  from {
    box-shadow: 0 0 20px rgba(255, 107, 53, 0.3);
  }
  to {
    box-shadow: 0 0 40px rgba(255, 107, 53, 0.6);
  }
}

@theme {
  /* Container settings */
  --container-center: true;
  --container-padding: 2rem;
  --container-screens-2xl: 1400px;

  --breakpoint-tab: 70rem;
  --breakpoint-mob: 54rem;

  --font-poppins: var(--font-poppins);
  --font-cinzel: var(--font-cinzel);

  /* Colors */
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  /* Border radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}
@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}




.react-international-phone-country-selector {
    @apply relative;
  }
  .react-international-phone-country-selector-button {
    @apply flex h-[var(--react-international-phone-height,36px)] box-border items-center justify-center border border-[color:var(--react-international-phone-country-selector-border-color,var(--react-international-phone-border-color,#dcdcdc))] bg-[color:var(--react-international-phone-country-selector-background-color,var(--react-international-phone-background-color,#fff))] cursor-pointer normal-case select-none m-0 p-0 border-solid hover:bg-[color:var(--react-international-phone-country-selector-background-color-hover,#f5f5f5)];
    -moz-appearance: button;
    appearance: button;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  .react-international-phone-country-selector-button--hide-dropdown {
    @apply cursor-auto hover:bg-transparent;
  }
  .react-international-phone-country-selector-button__button-content {
    @apply flex items-center justify-center;
  }
  .react-international-phone-country-selector-button__flag-emoji {
    @apply ml-2 mr-1 my-0;
  }
  .react-international-phone-country-selector-button__flag-emoji--disabled {
    @apply opacity-75;
  }
  .react-international-phone-country-selector-button__dropdown-arrow {
    @apply border-t-[length:var(--react-international-phone-country-selector-arrow-size,4px)] border-t-[color:var(--react-international-phone-country-selector-arrow-color,#777)] border-r-[length:var(--react-international-phone-country-selector-arrow-size,4px)] border-l-[length:var(--react-international-phone-country-selector-arrow-size,4px)] transition-all duration-[0.1s] ease-[ease-out] mr-1 border-x-transparent border-solid;
  }
  .react-international-phone-country-selector-button__dropdown-arrow--active {
    transform: rotateX(180deg);
  }
  .react-international-phone-country-selector-button__dropdown-arrow--disabled {
    @apply border-t-[color:var(--react-international-phone-disabled-country-selector-arrow-color,#999)];
  }
  .react-international-phone-country-selector-button--disabled {
    @apply cursor-auto;
  }
  .react-international-phone-country-selector-button--disabled,
  .react-international-phone-country-selector-button--disabled:hover {
    @apply bg-[color:var(--react-international-phone-disabled-country-selector-background-color,var(--react-international-phone-disabled-background-color,#f5f5f5))];
  }
  .react-international-phone-flag-emoji {
    @apply w-[var(--react-international-phone-flag-width,24px)] h-[var(--react-international-phone-flag-height,24px)] box-border;
  }
  .react-international-phone-country-selector-dropdown {
    @apply absolute z-[1] top-[var(--react-international-phone-dropdown-top,44px)] left-[var(--react-international-phone-dropdown-left,0)] flex w-[300px] max-h-[200px] flex-col bg-[color:var(--react-international-phone-dropdown-item-background-color,var(--react-international-phone-background-color,#fff))] shadow-[var(--react-international-phone-dropdown-shadow,2px_2px_16px_rgba(0,0,0,0.25))] text-[color:var(--react-international-phone-dropdown-item-text-color,var(--react-international-phone-text-color,#222))] overflow-y-scroll m-0 px-0 py-1;
    list-style: none;
  }
  .react-international-phone-country-selector-dropdown__preferred-list-divider {
    @apply h-px mt-[var(--react-international-phone-dropdown-preferred-list-divider-margin,0)] mr-[var(--react-international-phone-dropdown-preferred-list-divider-margin,0)] mb-[var(--react-international-phone-dropdown-preferred-list-divider-margin,0)] ml-[var(--react-international-phone-dropdown-preferred-list-divider-margin,0)] border-[none];
    background: var(
      --react-international-phone-dropdown-preferred-list-divider-color,
      var(--react-international-phone-border-color, #dcdcdc)
    );
  }
  .react-international-phone-country-selector-dropdown__list-item {
    @apply flex min-h-[var(--react-international-phone-dropdown-item-height,28px)] box-border items-center px-2 py-0.5 hover:bg-[color:var(--react-international-phone-selected-dropdown-item-background-color,var(--react-international-phone-selected-dropdown-item-background-color,#f5f5f5))] hover:cursor-pointer;
  }
  .react-international-phone-country-selector-dropdown__list-item-flag-emoji {
    @apply mr-2;
  }
  .react-international-phone-country-selector-dropdown__list-item-country-name {
    @apply overflow-hidden text-[length:var(--react-international-phone-dropdown-item-font-size,14px)] text-ellipsis whitespace-nowrap mr-2;
  }
  .react-international-phone-country-selector-dropdown__list-item-dial-code {
    @apply text-[color:var(--react-international-phone-dropdown-item-dial-code-color,gray)] text-[length:var(--react-international-phone-dropdown-item-font-size,14px)];
  }
  .react-international-phone-country-selector-dropdown__list-item--focused,
  .react-international-phone-country-selector-dropdown__list-item--selected {
    @apply bg-[color:var(--react-international-phone-selected-dropdown-item-background-color,#f5f5f5)] text-[color:var(--react-international-phone-selected-dropdown-item-text-color,var(--react-international-phone-text-color,#222))];
  }
  .react-international-phone-country-selector-dropdown__list-item--focused
    .react-international-phone-country-selector-dropdown__list-item-dial-code,
  .react-international-phone-country-selector-dropdown__list-item--selected
    .react-international-phone-country-selector-dropdown__list-item-dial-code {
    @apply text-[color:var(--react-international-phone-selected-dropdown-item-dial-code-color,var(--react-international-phone-dropdown-item-dial-code-color,gray))];
  }
  .react-international-phone-country-selector-dropdown__list-item--focused {
    @apply bg-[color:var(--react-international-phone-selected-dropdown-item-background-color,var(--react-international-phone-selected-dropdown-item-background-color,#f5f5f5))];
  }
  .react-international-phone-dial-code-preview {
    @apply flex items-center justify-center border border-[color:var(--react-international-phone-dial-code-preview-border-color,var(--react-international-phone-border-color,#dcdcdc))] bg-[color:var(--react-international-phone-dial-code-preview-background-color,var(--react-international-phone-background-color,#fff))] text-[color:var(--react-international-phone-dial-code-preview-text-color,var(--react-international-phone-text-color,#222))] text-[length:var(--react-international-phone-dial-code-preview-font-size,var(--react-international-phone-font-size,13px))] -mr-px px-2 py-0 border-solid;
  }
  .react-international-phone-dial-code-preview--disabled {
    @apply bg-[color:var(--react-international-phone-dial-code-preview-disabled-background-color,var(--react-international-phone-disabled-background-color,#f5f5f5))] text-[color:var(--react-international-phone-dial-code-preview-disabled-text-color,var(--react-international-phone-disabled-text-color,#666))];
  }
  .react-international-phone-input-container {
    @apply flex;
  }
  .react-international-phone-input-container
    .react-international-phone-country-selector-button {
    @apply rounded-[var(--react-international-phone-border-radius,4px)] -mr-px rounded-tr-none rounded-br-none;
  }
  .react-international-phone-input-container .react-international-phone-input {
    @apply overflow-visible h-[var(--react-international-phone-height,36px)] box-border border border-[color:var(--react-international-phone-border-color,#dcdcdc)] rounded-[var(--react-international-phone-border-radius,4px)] bg-[color:var(--react-international-phone-background-color,#fff)] text-[color:var(--react-international-phone-text-color,#222)] text-[length:var(--react-international-phone-font-size,13px)] m-0 px-2 py-0 rounded-tl-none rounded-bl-none border-solid;
    font-family: inherit;
  }
  .react-international-phone-input-container
    .react-international-phone-input:focus {
    outline: none;
  }
  .react-international-phone-input-container
    .react-international-phone-input--disabled {
    @apply bg-[color:var(--react-international-phone-disabled-background-color,#f5f5f5)] text-[color:var(--react-international-phone-disabled-text-color,#666)];
  }
